{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf8'/>
	<title>{% block title %}{% endblock %}</title>

	<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>

  <link rel="stylesheet" href="{% static "libs/bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
  {% block stylesheet %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
{% block javascript %}
{% endblock %}
</html>
