{% extends "layout.html" %}

{% load bootstrap3 %}

{# --CSS-- #}
{% block stylesheet %}
<style>
body {
    padding-top: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
</style>
{% endblock %}

{# --BODY-- #}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1>{{ post.title }}</h1>

        {% if post.photo %}
        <img src="{{ post.photo.url }}" style="width:50%;" />
        {% endif %}

        {{ post.content|linebreaks }}
        <hr/>
        <div>
          <form action="{% url "blog.views.post_detail" post.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" class="btn btn-primary comment-applybutton" value="댓글쓰기" />
          </form>
        </div>
        <hr/>
        <ul>
        {% for comment in post.comment_set.all %}
          <li>{{ comment.message }} ({{ comment.created_at }})</li>
        {% empty %}
          <li>등록된 댓글이 없습니다.</li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>
{% endblock %}
