{% extends "layout.html" %}

{# --CSS-- #}
{% block stylesheet %}
<style>
body {
    padding-top: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
</style>
{% endblock %}

{# --BODY-- #}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</div>

{% for post in post_list %}
<div class="container">
  <h3>
    {{ post.id }} |
    <a href="{% url "blog.views.post_detail" post.id %}">{{ post.title }}</a>
  </h3>
</div>
{% endfor %}

<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>
{% endblock %}
