{% extends "layout.html" %}

{% load bootstrap3 %}

{# --CSS-- #}
{% block stylesheet %}
<style>
body {
    padding-top: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
</style>
{% endblock %}

{# --BODY-- #}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div>
          <form action="{% url "blog.views.post_form" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form post_form %}
            <input type="submit" class="btn btn-primary comment-applybutton" value="댓글쓰기" />
          </form>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>
{% endblock %}
